%df{
    display: flex;

    justify-content: center;
}
%dfc{
    display:flex;
    flex-direction: column;
}
%dfa{
    display: flex;
    align-items: center;
   
}
%dfb{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
%dff{
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}
%dfe{
    display: flex;
    justify-content:flex-end;
    

}
%d{
    display:flex;
    justify-content: space-between;
}
%dd{
    display:flex;
    align-items: center;
    justify-content: center;
}
@mixin grid-container($width) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
    gap: 30px;
  }
  %dw{
    display:flex;
        align-items: center;
        flex-wrap: wrap;
  }